<div class="page-header">
  <h1>
    Images
    <a href="/images/new" class="btn btn-lg btn-success">New Image</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Caption</th>
        <th>Image</th>
        <th>Owner</th>
        <th>Actions</th>
      </tr>

      <% @images.each do |image| %>
      <tr>
        <td><%= image.caption %></td>
        <td><%= image.image %></td>
        <td><%= image.owner.username %></td>
        <td>
          <a href="/images/<%= image.id %>" class="btn btn-primary">Show</a>
          <a href="/images/<%= image.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_image/<%= image.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
