<div class="page-header">
  <h3>Image #<%= @image.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Caption</dt>
      <dd><%= @image.caption %></dd>

      <dt>Image</dt>
      <dd><%= @image.image %></dd>

      <dt>Owner</dt>
      <dd><%= @image.owner_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/images" class="btn btn-primary">
        Back
      </a>
      <a href="/images/<%= @image.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_image/<%= @image.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
